/* Body
================================================== */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/* Global add-ons
================================================== */
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.pt0{
    padding-top: 0;
}

.mb0{
    margin-bottom: 0;
}

.mb10{
    margin-bottom: 10px;
}

.mb20{
    margin-bottom: 20px;
}

.pt20{
    padding-top: 20px;
}

.pt40{
    padding-top: 40px;
}

.pb10{
    padding-bottom: 10px;
}
.pb20{
    padding-bottom: 20px;
}
.ml10{
    margin-left: 10px;
}

.ml20{
    margin-left: 20px;
}
.chosen-container{
    /*width: 90% !important;*/
}

.cl-fade{
    color: #8A7E7E;
}

.tooltip-inner {
    min-width: 150px; //the minimum width
}

#item_rules_container .chosen-container,
#item_filters_container .chosen-container{
    width: 90% !important;

}

.chosen-container-multi .chosen-choices .search-field{
    padding-left: 10px !important;
}

.text-error{
    color: #E9573F;
}

.panel-heading > i{
    font-size: 18px;
    color: #666;
    line-height: 24px;
    cursor: help;
}
#range-type a:hover{
    text-decoration: none;
    cursor: pointer;
}
/*.chosen-container{
    width: 250px !important;
    height: 31px !important;
}
.chosen-container-multi{
    display: inline;
}*/
/*.chosen-single, .chosen-single span{
    line-height: 30px;
    height: 33px !important;
}
.chosen-single > div > b{
    margin-top: 5px;
}*/

.comparison-filter.affix{
    z-index: 100;
    margin-left: 29%;
    top: 60px;
}
/* Sidebar
================================================== */
/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar Navigation
================================================== */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > li > a:hover {
    color: #FFF;
    background-color: #777;
}

.nav-sidebar > .active > a {
    color: #EEE;
    background-color: #777;
}

/* Main Content
================================================== */
.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main, .setup-content {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header:first-child {
    margin-top: 0;
}

.main .page-header > h1 {
    margin-top: 0;
}

.well-create-button-container{
    padding-top: 100px;
}

.the-box{
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 30px;
    background: #FFF;
    border: 1px solid #CCC;
}

.the-box p.tiles-title{
    text-transform: uppercase;
    font-size: 16px;
}

.the-box p.tiles-sub-title{
    font-size: 0.7em;
}

.the-box h1.bolded{
    font-size: 32px;
    font-weight: bold;
    margin-top: 0;
}

.the-box.no-border{
    border: none;
}

.bg-success{
    background-color: #8CC152;
}

.bg-error{
    background-color: #E9573F;
}

.bg-success, .bg-error{
    color: #FFF;
}

.btnApplyRange, .btnCancelRange{
    width: 46%;
}
#top10recommended td{
    color: #8A7E7E;
}
/* Graph
================================================== */
#comparisonDonut, #averageRecommendedItemsDonut
{
    height: 300px;
}

#itemInCartStat:after {
    background: url('../img/gift.png') no-repeat center #FFF;
}

#itemSalesInCartStat:after{
    background: url('../img/cart.png') no-repeat center #FFF;

}

#itemInCartStat:after, #itemSalesInCartStat:after {
    content : "";
    display: block;
    width: 180px;
    height: 180px;
    border: 1px solid #C2C2C2;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity : 0.2;
    border-radius: 50%;
}

#itemInCartStat span.text-float, #itemSalesInCartStat span.text-float{
    position: absolute;
    color: #000;
    font-size: 42px;
    text-align: center;
    top: 34%;
    left: 36%;
}

#itemInCartStat span.text-float2, #itemSalesInCartStat span.text-float2{
    position: absolute;
    color: #000;
    font-size: 42px;
    text-align: center;
    top: 34%;
    left: 32%;
}
/* Placeholder Dashboard
================================================== */
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/* Top Menu
================================================== */
.navbar-header, .navbar-collapse.collapse {
    text-transform: uppercase;
}

/* Date Picker
================================================== */
.daterangepicker.dropdown-menu {
    max-width: none;
    z-index: 3000;
}

.daterangepicker.opensleft .ranges, .daterangepicker.opensleft .calendar {
    float: left;
    margin: 4px;
}

.daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar {
    float: right;
    margin: 4px;
}

.daterangepicker .ranges {
    width: 160px;
    text-align: left;
}

.daterangepicker .ranges .range_inputs>div {
    float: left;
}

.daterangepicker .ranges .range_inputs>div:nth-child(2) {
    padding-left: 11px;
}

.daterangepicker .calendar {
    display: none;
    max-width: 270px;
}

.daterangepicker.show-calendar .calendar {
    display: block;
}

.daterangepicker .calendar.single .calendar-date {
    border: none;
}

.daterangepicker .calendar th, .daterangepicker .calendar td {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    white-space: nowrap;
    text-align: center;
    min-width: 32px;
}

.daterangepicker .daterangepicker_start_input label,
.daterangepicker .daterangepicker_end_input label {
    color: #333;
    display: block;
    font-size: 11px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    margin-bottom: 2px;
    text-shadow: #fff 1px 1px 0px;
    text-transform: uppercase;
    width: 74px;
}

.daterangepicker .ranges input {
    font-size: 11px;
}

.daterangepicker .ranges .input-mini {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    display: block;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    margin: 0 0 10px 0;
    padding: 0 6px;
    width: 74px;
}

.daterangepicker .ranges ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.daterangepicker .ranges li {
    font-size: 13px;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    color: #08c;
    padding: 3px 12px;
    margin-bottom: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
    background: #08c;
    border: 1px solid #08c;
    color: #fff;
}

.daterangepicker .calendar-date {
    border: 1px solid #ddd;
    padding: 4px;
    border-radius: 4px;
    background: #fff;
}

.daterangepicker .calendar-time {
    text-align: center;
    margin: 8px auto 0 auto;
    line-height: 30px;
}

.daterangepicker {
    position: absolute;
    background: #fff;
    top: 100px;
    left: 20px;
    padding: 4px;
    margin-top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.daterangepicker.opensleft:before {
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.daterangepicker.opensleft:after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
}

.daterangepicker.opensright:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.daterangepicker.opensright:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
}

.daterangepicker table {
    width: 100%;
    margin: 0;
}

.daterangepicker td, .daterangepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
}

.daterangepicker td.off {
    color: #999;
}

.daterangepicker td.disabled {
    color: #999;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
    background: #eee;
}

.daterangepicker td.in-range {
    background: #ebf4f8;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #357ebd;
    border-color: #3071a9;
    color: #fff;
}

.daterangepicker td.week, .daterangepicker th.week {
    font-size: 80%;
    color: #ccc;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
    font-size: 12px;
    padding: 1px;
    height: auto;
    margin: 0;
    cursor: default;
}

.daterangepicker select.monthselect {
    margin-right: 2%;
    width: 56%;
}

.daterangepicker select.yearselect {
    width: 40%;
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.ampmselect {
    width: 50px;
    margin-bottom: 0;
}

.daterangepicker_start_input {
    float: left;
}

.daterangepicker_end_input {
    float: left; 
    padding-left: 11px
}

.daterangepicker th.month {
    width: auto;
}

.list-guide > a:hover{
    cursor: pointer;
}

.pages .actions{
    padding: 5px 0;
}

.pages .actions.nav > li > div > a{
    color: #000;
    display: block;

}

.pages .actions.nav > li > div:first-child{
    padding: 6px 0 6px 30px;
}
.pages .actions.nav > li > div:first-child i{
    padding-top: 0;
}
.pages .actions.nav > li > div:not(:first-child){
    padding: 3px 0 0 10px;
    cursor: help;
}
.pages .actions.nav > li > div:not(:first-child) i{
    padding-top: 6px;
    padding-right: 6px;
}

.pages .actions.nav > li > a:hover,
.pages .actions.nav > li > a:focus{
    background-color: transparent;
}

.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
    border-bottom: 1px solid transparent;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 5px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #ffffff;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255,255,255, .23);
    border-bottom-color: transparent;
}

#action_properties p{
    /*    padding-top: 15px;*/
}
#action_properties{
    /*padding-top: 0px;*/
}

#action_properties .list-group,
.pages.list-group{
    margin-bottom: 0;
}

.pages .list-group-item div.toggle{
    cursor: pointer;
}

.property-wrap .checkbox{
    margin-bottom: 0;
}
.property-wrap .info{
    padding-left: 13px;
}

.property-wrap i{
    margin-top: 13px;
}
.property-wrap i:hover{
    cursor: help;
}

.pages i.fa{
    padding-top: 5px;
}

.pages i.fa.action-received{
    color: #8CC152;
}

.pages i.fa.action-not-received{
    color: #c9302c;
}
